<mat-card>
  <mat-card-header>
    <mat-card-title>Student Registration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <!-- <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required') && registrationForm.get('firstName')?.touched">
          First Name is required.
        </mat-error> -->
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <!-- <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required') && registrationForm.get('lastName')?.touched">
          Last Name is required.
        </mat-error> -->
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <!-- <mat-error *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched">
          Email is required.
        </mat-error> -->
        <mat-error *ngIf="registrationForm.get('email')?.hasError('email') && registrationForm.get('email')?.touched">
          Enter a valid email address.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Course</mat-label>
        <mat-select formControlName="course" >
          <mat-option value="Science">Science</mat-option>
          <mat-option value="Arts">Arts</mat-option>
          <mat-option value="Commerce">Commerce</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="registrationForm.get('course')?.hasError('required') && registrationForm.get('course')?.touched">
          Course selection is required.
        </mat-error> -->
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Register Student
      </button>

    </form>
  </mat-card-content>
</mat-card>